# server
PORT = 1234
WORK_MODE = "without send/send transaction"
# wallet
MNEMONIC = "abcd1234..."
ENCRYPTION_KEY = "abcd1234..."
CREATION_BLOCK_NUMBER = 1234
# network
RPC = "abcd1234..."
# system
TOKEN = "abcd1234..."